@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

:root {
  /* Colors */
  --clr-primary: hsl(47, 88%, 63%);

  /* Neutral */
  --clr-neutral-500: hsl(0, 0%, 42%);
  --clr-neutral-950: hsl(0, 0%, 7%);

  /* Rest of colors */
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-2xl: 1.5rem;

  /* Fonts */
  --ff-sans: 'Figtree', sans-serif;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-extrabold: 800;

  /* Rest of vars */
  --rounded: 0.25rem;
  --rounded-xl: 0.625rem;
  --rounded-3xl: 1.25rem;

  --shadow-1: 8px 8px 0px 0px rgb(0 0 0);
  --shadow-2: 16px 16px 0px 0px rgb(0 0 0);

  --transition: all 150ms ease;

  --card-size: 24rem;
}

body {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-950);
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  text-wrap: balance;
  margin: 0;
}

.img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
}

main {
  min-block-size: 100dvh;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
}

.card {
  position: relative;
  background-color: var(--white);
  padding: 1.5rem;
  max-inline-size: var(--card-size);
  outline: 1px solid var(--clr-neutral-950);
  border-radius: var(--rounded-3xl);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  isolation: isolate;

  &:hover,
  &:has(a:focus-visible) {
    box-shadow: var(--shadow-2);
  }
}

.card > * + * {
  margin-block-start: 1.5em;
}

.card__img {
  border-radius: var(--rounded-xl);
  block-size: 12.5rem;
}

.card__content > * + * {
  margin-block-start: 0.75rem;
}

.card__category {
  display: inline-block;
  background-color: var(--clr-primary);
  border-radius: var(--rounded);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-sm);
  padding: 0.25rem 0.75rem;
}

.card__date {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
}

.card__title {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-extrabold);
  transition: var(--transition);
}

@media (prefers-reduced-motion: reduce) {
  .card,
  .card__title {
    transition: none;
  }
}

.card:hover .card__title {
  color: var(--clr-primary);
}

.card:has(:focus-visible) .card__title {
  color: var(--clr-primary);
}

.card__link-overlay {
  position: absolute;
  inset: 0;
  z-index: 9999;
}

.card__description {
  color: var(--clr-neutral-500);
  font-weight: var(--fw-medium);
}

.card__footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card__footer__img {
  inline-size: 2rem;
  aspect-ratio: 1/1;
}

.card__author {
  font-size: var(--fs-sm);
  font-weight: var(--fw-extrabold);
}
