@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400 800;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/static/Figtree-SemiBold.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/static/Figtree-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --clr-primary: hsl(47, 88%, 63%);

  /* Neutral */
  --clr-neutral: hsl(0, 0%, 50%);

  /* Rest of colors */
  --black: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-2xl: 1.5rem;

  /* Fonts */
  --ff-sans: 'Figtree', sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-extrabold: 800;

  /* Rest of vars */
  --rounded: 0.25rem;
  --rounded-xl: 0.625rem;
  --rounded-3xl: 1.25rem;
  --shadow-1: 8px 8px 0px 0px rgb(0 0 0);
  --shadow-2: 16px 16px 0px 0px rgb(0 0 0);
  --card-size: 24rem;
  --transition: all 0.3s ease;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  font-size: var(--fs-base);
  line-height: 1.5;
  color: var(--clr-black);
}

body {
  background-color: var(--clr-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  text-wrap: balance;
  margin: 0;
}

.img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
}

main {
  min-block-size: 100vh;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 640px) {
  main {
    padding-inline: 1rem;
  }
}

.card {
  background-color: var(--white);
  padding: 1.5rem;
  max-inline-size: var(--card-size);
  border-radius: var(--rounded-3xl);
  outline: 1px solid var(--black);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}

.card:hover {
  box-shadow: var(--shadow-2);
}

.card:hover .card__title {
  color: var(--clr-primary);
}

.card > * + * {
  margin-block-start: 1.5em;
}

.card__img {
  border-radius: var(--rounded-xl);
  height: 200px;
}

.card__content > * + * {
  margin-block-start: 0.75rem;
}

.card__category {
  display: inline-block;
  background-color: var(--clr-primary);
  border-radius: var(--rounded);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-sm);
  padding: 0.25rem 0.75rem;
}

.card__date {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
}

.card__title {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-extrabold);
  transition: var(--transition);
}

.card__description {
  color: var(--clr-neutral);
  font-weight: var(--fw-medium);
}

.card__footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card__footer__img {
  inline-size: 2rem;
  aspect-ratio: 1/1;
}

.card__author {
  font-size: var(--fs-sm);
  font-weight: var(--fw-extrabold);
}
